#each-country-page {
  display: flex;
  margin: 20px 7%;
  justify-content: space-between;

  p {
    margin: 0;
  }

  #right-side {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    padding: 3%;

    #eight-country-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      p {
        font-weight: bold;
        font-weight: 400;
        p {
          font-weight: 300;
          display: inline;
        }
      }
    }
  }

  #border-countries {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 30px;
    p {
      font-weight: 500;
      margin-right: 5px;
    }
    div {
      display: flex;
      margin-top: 10px;
      flex-flow: row wrap;
      div {
        margin: 5px;
        padding: 6px 30px;
        border-radius: 5px;
        // border: 1px solid green;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  #each-country-page {
    flex-direction: column;

    img {
      width: 80vw !important;
    }

    #eight-country-details {
      flex-direction: column !important;
    }
  }
}
